@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

* {
    padding: 0;
    margin: 0;
}

html,
body {
    font-family: 'Poppins', sans-serif;
    background-image: url("/assets/photofloue.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    display: flex;
}

.container-dashboard {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.title-site {
    font-size: 25px;
    font-weight: bold;
}

.container-nav {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    font-weight: bold;
}

.navbar {
    display: flex;
    justify-content: space-between;
    height: 100px;
}

.line {
    margin: 30px;
}

.logo {
    position: relative;
    top: -6px;
}

a {
    text-decoration: none;
    color: white;
}

.title-register {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Poppins';
}

.title-login {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Poppins';
}

.title-homepage {
    font-size: 60px;
    color: white;
}

.info-homepage {
    font-weight: bold;
}

button {
    border-radius: 10px;
    padding: 10px;
    font-family: 'Poppins';
}


.container-homepage {
    display: flex;
    justify-content: center;
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/assets/photooo.png");
    border-bottom: 5px solid white;
    border-top: 3px solid #394452;
}

.sub-homepage {
    padding-top: 240px;
    text-align: center;
}

.links {
    font-weight: bold;
    color: #1F2937;
}